<html>
  <head>
    <style>
      #main-wrapper {
        margin: auto;
        width: 600px;
        /*border: 3px solid grey;*/
        padding: 10px;
      }

      #content {
        font-family: Verdana, Geneva, sans-serif;
        text-align: center;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <div id="main-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
